@inherits LayoutComponentBase
<style>
    .contenido {
        width: 100vw;
        height:100vh;
        position:relative;
        background: white;
    }
        .contenido .clearLayout {
            position:absolute;
           
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color:black;
            
        }
</style>

    <div class="contenido">
        <div class="clearLayout">
            @Body
        </div>
    </div>
@code {

}
