@inherits LayoutComponentBase




<div class="eCommerce">
    @Body
</div>
<BlazoredToasts IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                Timeout="5"
                SuccessIcon="fa fa-check"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                WarningIcon="fa fa-warning" Position="Blazored.Toast.Configuration.ToastPosition.BottomRight" />
